.custom-pin {
  position: relative;
  width: 40px;
  height: 34px;
  border-radius: 4px;
  padding-top: 4px;
}

.pin-image {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 25px;
}

.custom-pin-triangle {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid;
}
